<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Listar</title>
</head>
<body>

    
    <div class="bg">
    <div class="container">

        <h1 class="title">Listagem</h1>

      
            
            <div class="container-single">
    
                <% for(let i = 0; i < dados.length; i++){ %>

                <div class="card" onclick="clicou('<%= dados[i].link %>')">
                    <img src="/<%= dados[i].imgBg %>" >
                    <p class="title-p"><%= dados[i].nome %></p>
    
                </div>
    
                <% } %>
    
            </div>
        


    </div>
    </div>
    

    <script>
        function clicou(e){
            window.location.href = "http://localhost:8000"+e
        }
    </script>
    
</body>
</html>